<h3>Úvod</h3>
    <p>
    Táto stránka slúži na uvedenie návštevníka do obrazu v oblasti predaja notebookov.
    Stránka sa snaží poskytnúť používateľovi prehladnou formou informácie o notebookoch,
    ich cenách a zmenách cien v čase.
    </p>

    <p>
    Aktuálne je v databáze tohto portálu <%= @pocet_notebookov %> notebookov, z <%= @pocet_obchodov%> obchodov.
    </p>
