<% content_for :head do %>
    <title><%= title %></title>
        <%= stylesheet_link_tag 'thingreenline/1', :media => 'screen,projection' %>
<% end %>

<p>
  Informácie o notebookoch a ich ceny sú získané z týchto internetových obchodov:
</p>
  <ul>
    <%= zoznam_obchodov%>
  </ul>


